<span class="anchor" id="projects"></span>
<div class="card mat-card">
    <div id="projects">
        <div class="card-titles">
            <h2>Proyectos

                <button style="margin: 15px; padding: 10px" type="button" class="btn btn-primary" id="btn-agregar"
                    data-toggle="modal" data-target="#agregar" *ngIf="isAdmin" (click)="showModal()">Agregar
                </button>
            </h2>
        </div>

        <br *ngIf="!isAdmin">

        <div>
            <ul class="items-list ">
                <li *ngFor="let proyecto of listaProyectos">
                    <div class="data-containter  col-md-12">

                        <div class="logo-image-container">
                            <img class="logo-image" [src]="proyecto.img" />
                        </div>

                        <div *ngIf="isAdmin">
                            <fa-icon [icon]="fapen" id="btn-edit" data-toggle="modal" data-target="#editar"
                                (click)="abrir(proyecto.id)"></fa-icon>
                        </div>
                        <div *ngIf="isAdmin">
                            <fa-icon [icon]="fatrashcan" id="btn-trash" (click)="onDelete(proyecto.id)"></fa-icon>
                        </div>

                        <div class="list-info ">
                            <div>
                                <h3>{{proyecto.titulo}}</h3>
                                <p>{{proyecto.anio}}</p>
                                
                                <p *ngIf="proyecto.descripcion.includes('http')" >
                                    {{proyecto.descripcion.split('Disponible en: ')[0]}} Disponible en: 
                                    <a href="{{proyecto.descripcion.split('Disponible en: ')[1]}}" target="_blank">{{proyecto.descripcion.split('Disponible en: ')[1]}}</a>
                                </p>
                                
                                <p *ngIf="!proyecto.descripcion.includes('http')">{{proyecto.descripcion}}</p>
                            </div>
                        </div>


                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<ng-container *ngIf="show">
    <div class="modalc">
        <div class="modalc-content" cdkDrag>
            <div class="modalc-title">
                <h4 id="titulo">Nuevo proyecto
                    <div class="example-handle" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                            </path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                </h4>
            </div>
            <div class="modal-body">
                <form #nuevoProyForm="ngForm">
                    <div class="form-group">
                        <label>Título: </label>
                        <input type="text" class="form-control" id="tituloProy" [(ngModel)]="proye.titulo" name="titulo"
                            required placeholder="Ingrese el título" #titulo="ngModel">
                        <div class="alert alert-danger" *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
                            <div *ngIf="titulo.errors?.['required']"> Ingrese el título</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Año: </label>
                        <input type="number" min="1900" max="2050" class="form-control" id="anio"
                            [(ngModel)]="proye.anio" name="anio" required placeholder="Ingrese el año" #anio="ngModel">
                        <div class="alert alert-danger" *ngIf="anio.invalid && (anio.dirty || anio.touched)">
                            <div *ngIf="anio.errors?.['min']"> Ingrese un año entre 1900 y el actual </div>
                            <div *ngIf="anio.errors?.['max']"> Ingrese un año entre 1900 y el actual </div>
                            <div *ngIf="anio.errors?.['required']"> Ingrese el año</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Descripción: </label>
                        <input type="text" class="form-control" id="descripcion" [(ngModel)]="proye.descripcion"
                            name="descripcion" required placeholder="Ingrese la descripción" #descripcion="ngModel">
                        <div class="alert alert-danger"
                            *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                            <div *ngIf="descripcion.errors?.['required']"> Ingrese la descripción</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Imagen </label>
                        <input type="text" class="form-control" id="img" [(ngModel)]="proye.img" name="img" required
                            placeholder="Ingrese dirección de imagen" #imagen="ngModel">
                        <div class="alert alert-danger" *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)">
                            <div *ngIf="imagen.errors?.['required']"> Ingrese dirección de imagen</div>
                        </div>
                    </div>

                    <button class="btn btn-success" id="guardar" (click)="onSubmit()"
                        [disabled]="!nuevoProyForm.form.valid">Guardar</button>
                    <button type="button" class="btn btn-danger" (click)="hideModal()">
                        Cancelar
                    </button>
                </form>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="mostrar">
    <div class="modalc">
        <div class="modalc-content" cdkDrag>
            <div class="modalc-title">
                <h4 id="titulo">Editar proyecto
                    <div class="example-handle" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                            </path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                </h4>
            </div>
            <div class="modal-body">
                <form #editarProyForm="ngForm">
                    <div class="form-group">
                        <label>Título: </label>
                        <input type="text" class="form-control" id="tituloProy" [(ngModel)]="proy.titulo" name="titulo"
                            required placeholder="Ingrese el título" #titulo="ngModel">
                        <div class="alert alert-danger" *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
                            <div *ngIf="titulo.errors?.['required']"> Ingrese el título</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Año: </label>
                        <input type="number" min="1900" max="2050" class="form-control" id="anio"
                            [(ngModel)]="proy.anio" name="anio" required placeholder="Ingrese el año" #anio="ngModel">
                        <div class="alert alert-danger" *ngIf="anio.invalid && (anio.dirty || anio.touched)">
                            <div *ngIf="anio.errors?.['min']"> Ingrese un año entre 1900 y el actual </div>
                            <div *ngIf="anio.errors?.['max']"> Ingrese un año entre 1900 y el actual </div>
                            <div *ngIf="anio.errors?.['required']"> Ingrese el año</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Descripción: </label>
                        <input type="text" class="form-control" id="descripcion" [(ngModel)]="proy.descripcion"
                            name="descripcion" required placeholder="Ingrese la descripción" #descripcion="ngModel">
                        <div class="alert alert-danger"
                            *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                            <div *ngIf="descripcion.errors?.['required']"> Ingrese la descripción</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Imagen: </label>
                        <input type="text" class="form-control" id="img" [(ngModel)]="proy.img" name="img" required
                            placeholder="Ingrese dirección de imagen" #imagen="ngModel">
                        <div class="alert alert-danger" *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)">
                            <div *ngIf="imagen.errors?.['required']"> Ingrese dirección de imagen</div>
                        </div>
                    </div>

                    <button class="btn btn-success" id="guardar" (click)="editarProy(proy)"
                        [disabled]="!editarProyForm.form.valid">Guardar</button>
                    <button type="button" class="btn btn-danger" (click)="cerrar()">
                        Cancelar
                    </button>
                </form>
            </div>
        </div>
    </div>
</ng-container>