<span class="anchor" id="education"></span>
<div class="card mat-card">
    <div>
        <div class="card-titles">
            <h2>Educación
                <button style="margin: 15px; padding: 10px" type="button" class="btn btn-primary" id="btn-agregar"
                    *ngIf="isAdmin" (click)="agregarEdu.showModal()">Agregar
                </button>
            </h2>
        </div>
        

        <br *ngIf="!isAdmin">

        <div>
            <ul class="items-list ">
                <li *ngFor="let educacion of listaEducacion">
                    <div class="data-containter  col-md-12">

                        <div class="logo-image-container">
                            <img class="logo-image" [src]="educacion.img" />
                        </div>

                        <div *ngIf="isAdmin">
                            <fa-icon [icon]="fapen" id="btn-edit" (click)="(editarEdu.showModal(educacion.id))">
                            </fa-icon>
                        </div>
                        <div *ngIf="isAdmin">
                            <fa-icon [icon]="fatrashcan" id="btn-trash" (click)="onDelete(educacion.id)"></fa-icon>
                        </div>

                        <div class="list-info">
                            <div>
                                <h3>{{educacion.institucion}}</h3>
                                <p>{{educacion.titulo}} --
                                    <time>Desde: {{educacion.desde}}</time> - <time>Hasta: {{educacion.hasta}}</time>
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<app-agregar-educacion #agregarEdu></app-agregar-educacion>
<app-editar-educacion #editarEdu></app-editar-educacion>