<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titulo">Actualizar experiencia</h4>
            </div>
            <div class="modal-body">
                <form #expForm="ngForm">
                    <div class="form-group">
                        <label>Cargo: </label>
                        <input type="text" class="form-control" id="cargo" [(ngModel)]="exp.cargo" name="cargo" required
                            placeholder="Ingrese el cargo" #cargo="ngModel">
                        <div class="alert alert-danger" *ngIf="cargo.invalid && (cargo.dirty || cargo.touched)">
                            <div *ngIf="cargo.errors?.['required']"> Ingrese el cargo</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Sector: </label>
                        <input type="text" class="form-control" id="sector" [(ngModel)]="exp.sector" name="sector"
                            required placeholder="Ingrese el sector" #sector="ngModel">
                        <div class="alert alert-danger" *ngIf="sector.invalid && (sector.dirty || sector.touched)">
                            <div *ngIf="sector.errors?.['required']"> Ingrese el sector</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Jornada: </label>
                        <input type="text" class="form-control" id="jornada" [(ngModel)]="exp.jornada" name="jornada"
                            required placeholder="Ingrese la jornada" #jornada="ngModel">
                        <div class="alert alert-danger" *ngIf="jornada.invalid && (jornada.dirty || jornada.touched)">
                            <div *ngIf="jornada.errors?.['required']"> Ingrese la jornada</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Desde: </label>
                        <input type="text" class="form-control" id="desde" [(ngModel)]="exp.desde" name="desde" required
                            placeholder="Ingrese fecha de inicio" #desde="ngModel">
                        <div class="alert alert-danger" *ngIf="desde.invalid && (desde.dirty || desde.touched)">
                            <div *ngIf="desde.errors?.['required']"> Ingrese fecha de inicio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Hasta: </label>
                        <input type="text" class="form-control" onkeypress="return (event.charCode!= 47)" id="hasta" [(ngModel)]="exp.hasta" name="hasta" required
                            placeholder="Ingrese fecha de fin" #hasta="ngModel">
                        <div class="alert alert-danger" *ngIf="hasta.invalid && (hasta.dirty || hasta.touched)">
                            <div *ngIf="hasta.errors?.['required']"> Ingrese fecha de fin</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Imagen: </label>
                        <input type="text" class="form-control" id="img" [(ngModel)]="exp.img" name="img" required
                            placeholder="Ingrese dirección de imagen" #imagen="ngModel">
                        <div class="alert alert-danger" *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)">
                            <div *ngIf="imagen.errors?.['required']"> Ingrese dirección de imagen</div>
                        </div>
                    </div>
                    <button class="btn btn-success" id="guardar" (click)="editarExp()"
                        [disabled]="!expForm.form.valid">Guardar</button>
                    <button type="button" class="btn btn-danger" (click)="volverAHome()">
                        Cancelar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>