.linkedin{
    width: 50px;
    margin-right: 15px;
}

.github{
    width: 50px;

}

.argprog{
    width: 100px;
    margin-right: 10px;
    background-color: black;
}

.text{
    color: aqua;
}

.navbar-brand{
    color: aqua;
    font-weight:700;
}

.navbar-brand:hover{
    color: snow;
}


#link {
    color: aqua;
    cursor: pointer;
}



