<!--NAV BAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top" id="navbar">
  <div class="container-fluid">
    <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
      <img src="assets/imagenes/APLogo-20-20.png" class="argprog">
    </a>
    <a class="navbar-brand" href="#">Agustin Clemente</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link" id="link" aria-current="page" (click)="onClick('acercade')">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" (click)="onClick('experience')">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" (click)="onClick('education')">Educación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" (click)="onClick('projects')">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" (click)="onClick('skills')">Skills</a>
        </li>
      </ul>
      <div class="text" *ngIf="isLogged">
        Bienvenido {{username}}
      </div>

      <a href="https://github.com/Agustin-Clemente" target="_blank">
        <img src="assets/imagenes/github-logo-white-500x332.png" class="github">
      </a>
      <a href="https://www.linkedin.com/in/agustin-clemente-6a8585125/" target="_blank">
        <img src="assets/imagenes/LinkedIn-Symbole-768x432.png" class="linkedin">
      </a>


      <a class="nav-link" *ngIf="!isLogged" routerLink="/auth/login"><button type="submit"
          class="btn btn-info">Login</button></a>

      <a class="nav-link" *ngIf="isLogged"><button type="submit" class="btn btn-danger"
          (click)="onLogOut()">Logout</button></a>
    </div>
  </div>

</nav>