#btn-edit {
    background-color: aqua;
    font-size: medium;
    float: right;
    margin-bottom: 5px;
}

fa-icon {
    color: black;
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.modal-body {
    background-color: black;
}

.modal-header {
    background-color: black;
    border-color: black;
    padding-right: 0%;

}


.form-control {
    border-color: aquamarine;
    color: aquamarine;
    background-color: transparent;
}

.modalc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    z-index: 1050;

}

.modalc-content {
    width: 100%;
    max-width: 500px;
}

.modal-header {
    height: 93px;
    display: flex;
    align-items: center;
    padding: 0.32px;
    background-color: white;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    border-radius: 4px, 4px, 0, 0;
}

.modalc-container {
    padding: 32 px;
    background: black;
    border-radius: 0, 0, 4px, 4px;
}


img {
    margin-bottom: 5px;
}

h4 {
    text-align: center;
    background-color: black;
    margin-bottom: auto;
}

.example-handle {
    float: right;
    top: 10px;
    right: 10px;
    color: aquamarine;
    cursor: move;
    width: 24px;
    height: 24px;
}

#guardar {
    margin-right: 20px;
}