<span class="anchor" id="skills"></span>
<div class = "card mat-card">
    <div >
    <div class="card-titles">
<h2>Hard & Soft skills</h2>
<div class="btn-edit"><a href="#" class="btn-right"> <i class="fa fa-pen"></i></a></div>
<div class="row">
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="90"
    [responsive]="true"
    [radius]="100"
    [showUnits]="false"
    [title]="'Inglés'"
    [titleColor]="'Aquamarine'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'Aquamarine'"
    [innerStrokeColor]="'#6bd3ba'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="60"
    [responsive]="true"
    [radius]="100"
    [showUnits]="false"
    [title]="'Trabajo en equipo'"
    [titleColor]="'Aquamarine'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'Aquamarine'"
    [innerStrokeColor]="'#6bd3ba'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="70"
    [responsive]="true"
    [radius]="100"
    [showUnits]="false"
    [title]="'Programación'"
    [titleColor]="'Aquamarine'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'Aquamarine'"
    [innerStrokeColor]="'#6bd3ba'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="100"
    [responsive]="true"
    [radius]="100"
    [showUnits]="false"
    [title]="'Responsabilidad'"
    [titleColor]="'Aquamarine'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'Aquamarine'"
    [innerStrokeColor]="'#6bd3ba'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>

</div>
    </div>
    </div>
</div>
