<span class="anchor" id="acercade"></span>
<div class="card mat-card">
    <div class="card-titles">
        <h2>Acerca de

            <fa-icon *ngIf="isAdmin" [icon]="fapen" id="btn-edit" (click)="abrir(persona.id)"></fa-icon>

        </h2>
    </div>

    <div>
        <p id="text-acercade">{{persona.acercade}}</p>
    </div>
</div>

<ng-container *ngIf="mostrar">
    <div class="modalc">
        <div class="modalc-content" cdkDrag>
            <div class="modalc-title">
                <h4>Editar acerca de
                    <div class="example-handle" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                            </path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                </h4>
            </div>
            <div class="modal-body">
                <form #acercaDeForm="ngForm">
                    <div class="form-group">
                        <div class="mb-3">
                            <textarea class="form-control" id="acercade" rows="10" [(ngModel)]="perso.acercade"
                                name="acercade" required placeholder="Ingrese información"
                                #acercade="ngModel"></textarea>
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="acercade.invalid && (acercade.dirty || acercade.touched)">
                            <div *ngIf="acercade.errors?.['required']"> Ingrese información</div>
                        </div>

                        <button class="btn btn-success" id="guardar" (click)="editarAcercaDe(perso)"
                            [disabled]="!acercaDeForm.form.valid">Guardar</button>
                        <button type="button" class="btn btn-danger" (click)="cerrar()">
                            Cancelar
                        </button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</ng-container>